<html>
<head>
<title>Upload Documents</title>
</head>
<!-- <link rel="stylesheet" href="style_1.css"> -->
<style>
    .center {
      margin: 0;
      position: absolute;
      top: 30%;
      left: 30%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .cont {
      margin: 0;
      position: absolute;
      top:30%;
      right:10%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
</style>
<body>
    <center><h1>WELCOME TO DOCUMENT VERIFIER</h1></center>
    <div class="cont">
        <img src="UIDAI_Aadhaar_Card_PNG-715x715-2.jpg" width="400" height="200">
        <li><a href="/aadhar">Aadhar Card Verification</a></li>
    </div>
    <div class="center">
        <img src="1.png" width="400" height="200">
        <li><a href="/pan">Pan Card Verification</a></li>
    </div>
</body>
</html>