<html>
<head>
<title>Upload Pancard</title>
</head>
<!-- <link rel="stylesheet" href="style_1.css"> -->
<style>
    .center {
      margin: 0;
      position: absolute;
      top: 40%;
      left: 35%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .cont {
      margin: 0;
      position: absolute;
      top:40%;
      left:75%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
</style>
<center><h1>UPLOAD PAN CARD IMAGE</h1></center>
<link rel="stylesheet" href="aadhar.css">
<script class="jsbin" src="aadhar.js"></script>
<div class="cont">
        <img src="1.png" width="400" height="200">
</div>
<div class="center">
    <div class="file-upload">
    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

    <div class="image-upload-wrap">
        <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
        <div class="drag-text">
        <h3>Drag and drop Image or select Add Image</h3>
        </div>
    </div>
    <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="image-title-wrap">
        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded PAN Card Image</span></button>
        </div>
    </div>
    <h2>Or enter PAN Card number</h2>
    <form method=post>
        <input type="text" name="number">
        <input type=submit value=submit>
    </form>
    </div>
</div>
</html>